<div class="container-fluid">
	<div class="row-fluid">
		<div class="span8">
			<h1>404</h1>
			<p>Couldn't find page!</p>
		</div>
	</div>
</div>

<!-- SEO ADD ONS -->
<%- contentFor('pageTitle') %>
404 Error
<%- contentFor('pageDescription') %>
404 Error Page
<%- contentFor('pageKeywords') %>
404 Error
<%- contentFor('ogTitle') %>
404 Error
<%- contentFor('ogDescription') %>
404 Error Page