<div class="container-fluid">
	<div class="row-fluid">
		<div class="span8">
			<h1>500</h1>
			<p>Something went wrong!</p>
		</div>
	</div>
</div>

<!-- SEO ADD ONS -->
<%- contentFor('pageTitle') %>
500 Error
<%- contentFor('pageDescription') %>
500 Error Page
<%- contentFor('pageKeywords') %>
500 Error
<%- contentFor('ogTitle') %>
500 Error
<%- contentFor('ogDescription') %>
500 Error Page