<div class="container-fluid">
	<div class="row-fluid">
		<% include blogSideBar %>
		<!-- This info only applies to my site, change it as you see fit -->
		<div class="span8">
			<div class="hero-unit">
				<div class="media">
					<div class="media-body">
						<h1 class="media-heading">Simple Node Blog</h1>
						</br>
						<p>A simple blog wrote in Node.js using MongoDB. This is this site's repo. All the code to build this site it there. I build this site to learn how to use Node.js and maybe it might be helpful for other beginners too.</p>
					</div>
					<div class="sourceCode">
						<a title="GitHub Repo" href="https://github.com/jshemas/SimpleNodeBlog">Source Code</a>
					</div>
				</div>
			</div>
			<div class="hero-unit">
				<div class="media">
					<div class="media-body">
						<h1 class="media-heading">workinHard</h1>
						</br>
						<p>workinHard is a node.js app that makes you /look/ more productive! Just run the app, hammer away at the keyboard, then press enter and code will appear!</p>
					</div>
				</div>
				<div class="sourceCode">
					<a title="GitHub Repo" href="https://github.com/jshemas/workinHard">Source Code</a>
				</div>
			</div>
			<div class="hero-unit">
				<div class="media">
					<div class="media-body">
						<h1 class="media-heading">Coupon Service</h1>
						</br>
						<p>This is a Coupon Service build in Node.js and Mongo. The idea was if you had a page with your company info on it, you could also easily managed your coupon(s) on there too using this service.</p>
					</div>
				</div>
				<div class="sourceCode">
					<a title="GitHub Repo" href="https://github.com/jshemas/Coupon-Service">Source Code</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- SEO ADD ONS -->
<%- contentFor('pageTitle') %>
About Josh Shemas
<%- contentFor('pageDescription') %>
About Josh Shemas
<%- contentFor('pageKeywords') %>
Josh Shemas
<%- contentFor('ogTitle') %>
Josh Shemas
<%- contentFor('ogDescription') %>
About Josh Shemas