<div class="container-fluid">
	<div class="row-fluid">
		<% include blogSideBar %>
		<div class="span8">
			<% if (blog) { %>
				<% var monthNames = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ]; %>
				<% var weekDay = [ "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday" ]; %>
				<% for(var i = 0; i < blog.length; i++) { %>
					<% var blogPost = blog[i]; %>
					<ul class="media-list well well-large">
						<li class="media">
							<div class="media-body">
								<h1 class="media-heading"><%= blogPost.title %></h1>
								<h5><%= blogPost.subTitle %> | <%= weekDay[blogPost.createdDate.getDay()] %>, <%= monthNames[blogPost.createdDate.getMonth()] %> <%= blogPost.createdDate.getDate() %>, <%= blogPost.createdDate.getFullYear() %></h5>
								<p><%=: blogPost.body | truncate:250 %>...</p>
								<h6 style="text-align: right;">
									Tags: <%= blogPost.tags %>
								</h6>
								<a class="btn" href="/blog/<%= blogPost.id %>"><span class="btn-label">View Post</span></a> 
							</div>
						</li>
					</ul>
				<% } %>
			<% } %>
		</div>
	</div>
</div>
