<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%-pageTitle%></title>
		<meta property="og:title" content="<%-ogTitle%>" />
		<meta property="og:description" content="<%-ogDescription %>" />
		<meta property="og:type" content="blog"/>
		<meta name="description" content="<%-pageDescription %>">
		<meta name="keywords" content="<%-pageKeywords %>" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="robots" content="index, follow">
		<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" media="screen">
		<link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.min.css" media="screen">
		<link type="text/css" rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css">
		<link rel="author" href="https://plus.google.com/111479730826236205944"/>
		<link rel="stylesheet" href="/css/style.css" media="screen">
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
		<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	</head>
	<body>
	<div id="content">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/">Simple Node Blog</a>
					<div class="navbar-content">
						<ul class="nav headernav">
							<li>
								<a href="/">Home</a> 
							</li>
							<li>
								<a href="/bloglist">Blog List</a> 
							</li>
							<li>
								<a href="/about">About</a> 
							</li>
							<li>
								<a href="/contact">Contact</a> 
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<%- body %>
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
			// Set which headernav tab is active
			var url = window.location;
			// Will only work if string in href matches with location
			$('ul.headernav a[href="'+ url +'"]').parent().addClass('active');
			// Will also work for relative and absolute hrefs
			$('ul.headernav a').filter(function() {
				return this.href == url;
			}).parent().addClass('active');
		});
	</script>
	</body>
</html>